$clr-accent: #40BA82;
$clr-black: #222222;
$clr-white: #FFFFFF;
$clr-gray: #cecece;
$clr-background: $clr-white;
$clr-text: $clr-black;

$space-xl: 50px;
$space-md: 20px;
$space-sm: 10px;
$space-xsm: 5px;

$site-width: 1000px;

$border-normal: 1px solid $clr-gray;
$border-radius: 10px;
